
.App {
  background-color: rgb(49, 53, 61);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  margin: .6em;
}